*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-expand-lg .navbar-nav li{
    padding: 5px 20px;
}
.navbar-expand-lg .navbar-nav li a{
    font-weight: bold;
}

.navbar .navbar-brand img{
    height: 70px;
    padding: 0px 20px;
}
.menu-items .card{
    overflow: hidden;
}
.menu-items .card img{
    transition: all 0.2s ease-in;
  
  
}
.menu-items .card img:hover{
    scale: 1.2;
    
}